VITE_APIKEY="dsdsdsdsdsdsdsdsdsdsdsd"
VITE_AUTHDOMAIN="example-auth-dgda76.firebaseapp.com"
VITE_PROJECTID="example-auth-dgda76"
VITE_STORAGEBUCKET="example-auth-dgda76.appspot.com"
VITE_MESSAGINGSENDERID="222122212228"
VITE_APPID="egegergergergergergergergerg"
VITE_APIROUTE="http://127.0.0.1:3333"